<h1>Your Bulk Discounts</h1>

<section id='upcoming-holidays'>
  <h3>Upcoming Holidays</h3>
  <% @upcoming_holidays.each do |holiday| %>
    <div class='holiday'>
      <p><%= "#{holiday.name} on #{holiday.pretty_date}" %>
    </div>
  <% end %>
  <hr>
</section>

<div id='discounts'>
  <%= link_to 'Create New Discount', new_merchant_bulk_discount_path(@merchant_id) %>
  <% @bulk_discounts.each do |discount| %>
    <div class='discount' id='discount-<%= discount.id %>'>
      <p><%= link_to discount.name, merchant_bulk_discount_path(id: discount.id, merchant_id: discount.merchant_id) %></p>
      <ul>
        <li>Threshold: <%= discount.threshold %></li>
        <li>Percent Discount: <%= discount.percent_discount %></li>
      </ul>
      <%= button_to 'Delete', merchant_bulk_discount_path(id: discount.id, merchant_id: @merchant_id), method: :delete, class: 'delete-discount' %>
    </div>
    <hr>
  <% end %>
</div>
